header {
    position: relative;
}

header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

header h1 {
    position: absolute;
    top: 100px;
    left: 20px;
    margin: 0;
    color: white;
    font-size: 32px;
    font-weight: bold;

    text-shadow: 0 0 10px rgb(255, 255, 255);

    z-index: 2;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0px;
    background-color:rgb(211, 210, 210);
}

nav li {
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    text-decoration: none;
    color: rgb(91, 91, 91);
    padding: 15px 20px;
}

nav li a:hover {
    color: rgb(62, 88, 2);
}

nav li.active a {
    font-weight: bold;
    color: rgb(62, 88, 2);
    background-color:rgb(161, 213, 5);
}