.app-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app-container main {
    flex: 1;
    padding: 2rem;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.page-container {
    text-align: center;
}

.page-left {
    text-align: left;
}

.links-page a {
    color: rgb(120, 151, 26);
}

.links-page ul {
    list-style: none;
    padding: 0;
}

#authors {
    font-style: italic;
    font-weight: lighter;
    font-size: 16px;
    color: rgb(161, 154, 154);
    margin-top: 0;
    margin-bottom: 8px;
    text-align: right;
}

.wordpress-content p {
  margin-bottom: 1em;
}

.wordpress-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
}

.wordpress-content th,
.wordpress-content td {
  padding: 10px 15px;
  text-align: left;
  border: 1px solid #d2deae;
}

.wordpress-content thead tr {
  background-color: rgb(161, 213, 5);
  color: rgb(62, 88, 2);
}

.wordpress-content tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.wordpress-content tbody tr:nth-child(even) {
  background-color: #f4f5f2;
}

.wordpress-content tbody tr:hover {
  background-color: #ecf7dc;
}
