@font-face {
    font-family: 'CutePixel';
    src: url('/fonts/CutePixel.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  --sans: Arial, Helvetica, sans-serif;
  --heading: 'CutePixel', system-ui, 'Segoe UI', Roboto, sans-serif;
  --text-h: rgb(60, 61, 57);

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: rgb(60, 61, 57);
  background: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-h: #f3f4f6;
  }
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 58px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding-bottom: 5px;
  @media (max-width: 1024px) {
    font-size: 40px;
  }
}
h3 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 24px;
  }
}

.loader {
  padding: 2rem;
  text-align: center;
  color: rgb(91, 91, 91);
}
